<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="OtherSearchServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.23.11:6014/OtherSearchService.asmx"
                binding="basicHttpBinding" bindingConfiguration="OtherSearchServiceSoap"
                contract="PDAOtherSearchService.OtherSearchServiceSoap" name="OtherSearchServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>